body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #182027;
    color: white;    
    font-size: 20px;
}
a {
    text-decoration: none;
    color: white;
    transition: 500ms;
}
a:hover {
    color: #2384d3;
}
ul {
    position: relative;
    font-size: .85em;
}

/* Navigation */

.heading {
    background-color: #262e36;
    z-index: 1;
    position: fixed;
    display: block;
    width: 100%;
    padding: 10px 0 10px 0;
    transition: 1000ms;
}
.heading:hover {
    background-color: #11171b;
}
.heading:hover .nav-container {
    border-bottom: 2px solid #0adf03a4;
    background-color: #11171b;
}
.heading h3 {
    text-align: center;
    margin: 0;
}

.nav-container {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: #262e36;
    font-size: .85em;
    width: 100%;
    border-bottom: 2px solid #1d3e4d;
    border-radius: 15px;
    transition: 1000ms;
}

.nav-container p {
    margin: 5px 0 10px 0;
}

.nav-container > p a {
    text-decoration: none;
}


/* Top Background */

.about-container {
    padding: 130px 0 0 0;
    background-color:#182027;
}

/* Terminal Window */
.terminal-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.terminal {
    font-family: 'Share Tech Mono', monospace;
    width: 600px;
    height: 550px;
    color: #09ff00;
    background-color: #000000;
    margin: 20px;
    font-size: .8em;
    border-radius: 8px;
    padding-bottom: 10px;
    border: 1px solid #1d3e4d;
}

.terminal-container i {
    margin: 0 20px 0 45px;
    display: block;
}
.terminal-container a {
    color: #09ff00; 
    border-bottom: 1px solid transparent;
    transition: 500ms;
}
.terminal-container a:hover {
    border-bottom: 1px solid #09ff00;
}
.terminal-container p {
    margin-bottom: 2px;
    margin-left: 25px;
}

.t-head-container {
    display: flex;
    height: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color:rgba(58, 57, 57, 0.5);
    margin-bottom: 35px;
    border-bottom: 1px solid #1d3e4d;
}

.t-head-container div {
    margin: 3px 3px 3px 5px;
    border-radius: 50%;
    width: 15px;
    text-align: center;
}

.red {
    background-color: #fa7d7d;
    transition: 500ms;
}
.yellow {
    background-color: #f0da77;
    transition: 500ms;
}
.green {
    background-color: #64f575;
    transition: 500ms;
}
.terminal:hover .red {
    background-color: #ff0000;
}
.terminal:hover .yellow {
    background-color: #ffd000;
}
.terminal:hover .green {
    background-color: #07c700;
}

/* Profile Picture */
.my_image_click {
    margin: 2.5%;
    height: 0;
    width: 450px;
    overflow: hidden;
    background-image: url(images/me.jpg);
    border-radius: 10px;
    background-size: cover;
    animation: slide 2s ease forwards;
}

@keyframes slide {
    from {height: 0;
        width: 450px;}
    to {height: 500px;
        border: 2px solid #1d3e4d}
}

/* Outer, Inner Containers */

.outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner {
    background-color: #182027;
    padding: 2%;

    border: 2px solid #1d3e4d;
    border-radius: 10px;
    min-width: 900px;
    margin: 20px 0 20px 0;
    transition: 1000ms;
}
.one {
    margin-top: 100px;
}
.one:hover {
    background-color: #11171b;
    border: 2px solid #0adf03a4;
}
.two:hover {
    background-color: #11171b;
    border: 2px solid #0adf03a4;
}

.code {
    font-family: 'Share Tech Mono', monospace;
    color: transparent;
    border: 2px solid transparent;
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    transition: 1000ms;
    left: 85%;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    font-size: .75em;
    padding: 5px 0 3px 0;

}
.inner:hover .code {
    transform: translateY(-35px);
    color: #09ff00;
    border: 2px solid #1d3e4d;
    background-color: black;
} 

/* School & Work Info Positioning */

.inner h4 {
    text-align: center;
    margin-top: 0;
    margin: 0;
    font-size: 1.2em;
}
/* 'Education' 'Experience' headers  */
.inner h5 {
    margin: 40px 0 15px 0;
    font-size: 1em;
    border: 1px solid transparent;
    border-radius: 30px;
    display: inline-block;
    padding: 8px 25px 8px 25px;
    transition: 1500ms;
}

.one:hover h5 {
    border: 1px solid #1d3e4d;
}


/* School/Work span headings */

.inner div {
    position: relative;
    margin-top: 15px;
}

.inner > div > p {
    margin: 0 40px 3px;
    font-size: .9em;
}
.inner div span {
    float: right;
}


.inner i {
    margin-top: 0;
}

/* Lists */ 

.inner ul {
    margin-top: 15px;
    list-style: circle;
}

/* "Related Coursework heading & list" */
.c-lst {
    font-size: .85em;
    margin-top: 15px;
}
.lst {
    height: 250px;

}

/* wake bitly logo  */

.logo {
    position: absolute;
    padding: 3px;
    right: 96%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
    transition: 1000ms;
}
.one:hover .logo{
    border: 1px solid #0adf03a4;
    background-color: black;

}

/* Projects  */

#projects {
    margin-bottom: 30px;
    padding-top: 0;
}
/* second .inner div  */
.two {
    margin-bottom: 60px;
}

.row {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    border: 2px solid #1d3e4d;
    width: 310px;
    height: 330px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: .76em;
    position: relative;
    overflow: hidden;
    transition: 1000ms;
}
.box:hover {
    border: 2px solid #2384d3;
}

.box p {
    border-radius: 5px;
    margin-top: 3px;
    padding: 7px;
    height: 110px;
}

.box img {
    width: 220px;
}

/* Language containers */
.lang {
    display: flex;
    justify-content: space-around;
}
.lang a {
    font-family: 'Share Tech Mono', monospace;
    color: #2384d3;
    width: 100px;
    border: 2px solid transparent;
    border-radius: 30px;
    margin: 20px 5px 0 5px;
    transition: 1500ms;
    padding: 5px 0 3px 0;
}
.two:hover .lang a {
    color: #09ff00;
    border: 2px solid #1d3e4d;
    background-color: black;
}

/* github animation */

 .git {
    background-image: url(images/git.png);
    background-size: cover;
    height: 60px;
    position: absolute;
    width: 60px;
    left: 325px;
    bottom: 340px;
    margin-top: 0px;
    border-radius: 10px;
    transition: 1500ms;
} 
.box:hover .git {
    transform: translateY(65px) translateX(-70px);
} 

/* footer  */

footer {
    position: fixed;
    margin: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    border-top: 1px solid #1d3e4d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #262e36;
    font-size: .7em;
    color: #a9a9aa;
    transition: 500ms;
}
footer a {
    color: #a9a9aa;
}
footer p {
    margin: 2px 20px 0;
}

footer span {
    margin-right: 20px;
    float: right;
}
footer:hover {
    border-top: 1px solid #0adf03a4;
    background-color: #11171b;
}
@media (max-width: 1000px) {
    .inner {
        width: 100%;
        margin: 2%;
        min-width: 100px;
    }
    .logo {
        height: 40px;
        width: 40px;
    }
    body {
        font-size: 18px;
    }

}

/* 745 box turns*/
