body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #182027;
}
ul {
    font-size: 13px;
}


/* Navigation */

.nav {
    background-color: #262e36;
    z-index: 1;
    position: fixed;
    display: block;
    width: 100%;
}
.nav a:hover{
    color: #4078c0;
}

.nav h3 {
    padding-top: 8px;
    padding-bottom: 6px;
    text-align: center;
    margin: 0;
    width: 100%;
    color: white;
}

.nav ul {
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #262e36;
    font-size: 15px;
}

.nav ul li {
    list-style: none;
    float: left;
    padding-bottom: 5px;
    width: 33.33333333%
}

.nav a {
    text-decoration: none;
    color: white;
}

a.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}


/* About */

.header {
}

.about-container {
    overflow: hidden;
    padding-top: 130px;
    padding-bottom: 100px; 
    position: relative;
    background-color:#182027;
}

.screen {
    font-family: 'VT323', monospace;
    width: 35vw;
    margin-left: 25%;
    margin-right: 25%;
    width: 500px;
    color: #09ff00;
    background-color: rgb(0, 0, 0, .9);
    font-size: 20px;
    border-radius: 5px;
    padding-bottom: 10px;
    height: 520px;
}

.about-container i {
    margin: 0 0 0 45px;
    display: block;
}

.about-container p {
    margin-bottom: 2px;
    margin-left: 20px;
}

.heading-container {
    display: flex;
    height: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color:rgba(58, 57, 57, 0.5);
}

.heading-container div {
    margin: 3px 3px 3px 5px;
    border-radius: 50%;
    width: 15px;
    text-align: center;
}

.one {
    background-image: url(images/x.png);
    background-size: cover;
}

.two {
    background-image: url(images/minimize.png);
    background-size: cover;
}

.three {
    background-image: url(images/expand.png);
    background-size: cover;
}


/* Container */

.outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner {
    display: inline-block;
    background-color: #182027;
    padding: 2%;
    width: 40vw;
    color: white;
    border: 1px solid #4078c0;
    border-radius: 10px;
    min-width: 700px;
}

.inner h4 {
    text-align: center;
    margin-top: 0;

}

.resume {
    border-radius: 10px;
    margin: 15px;
}

.projects {
    margin-bottom: 30px;
}

.experience {
    margin-top: 30px;
    font-size: 15px;
}


/* School & Work Info Positioning */

.r-info {
    position: relative;
    font-size: 14px;
    margin-top: 25px;
}

.r-info span {
    float: right;
}

.orgnization {
    margin-left: 40px;
    margin-bottom: 5px;
    font-size: 15px;
}

.orgnization-bitly {
    margin-left: 45px;
    margin-bottom: 5px;
}

.logo {
    position: absolute;
    bottom: 22px;
}

.title {
    margin-top: 0;
}

.coursework {
    font-size: 14px;
    margin-bottom: 5px;
}

.inner ul {
    margin-top: 0;
    list-style: circle;
}


/* Projects  */

#projects {
    margin-bottom: 30px;
    font-size: small;
    padding-top: 0;
}

.box p {

    border-radius: 5px;
    margin-top: 3px;
    padding: 7px;
}

.row {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    border: 1px solid #262e36;
    width: 30%;
    margin: 20px;
    margin: 20px 30px 20px 30px;
    padding: 1%;
    border-radius: 5px;
    align-items: center;
    font-size: 12px;
    min-width: 175px;
}

.box .img {
    background-color: transparent;
    width: 100%;
    min-height: 100px;
    height: 7vw;
    border-radius: 5%;
    background-size: cover;
}

.cat {
    background-image: url("images/cat.png");
}

.dog {
    background-image: url("images/dog1.png");
}

.house {
    background-image: url("images/house1.png");
}

.file {
    background-image: url("images/resume.png");
}


/* Footer  */

.footer {
    position: fixed;
    margin-bottom: 0;
    margin-top: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: #262e36;
    color: white;
}

.footer>p {
    font-size: small;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

footer>p span {
    margin-left: 20px;
}

.link {
    margin-right: 20px;
    float: right;
}

.link a {
    color: white;
    text-decoration: none;
}
.link a:hover {
    color: #4078c0;
}

/* font sizing  */

.education {
    font-size: 15px;
}

.experience {
    font-size: 15px;
}

@media (max-width: 750px) {
    body {
        min-width: 300px;
    }
    .inner {
        width: 100%;
        margin: 2%;
        min-width: 100px;
    }
    .outer {
        justify-content: none;
        width: none;
            
    }
    .inner ul{
        font-size: 12px;
    }
    .orgnization{
        font-size: 12px;
    }
    .orgnization-bitly {
        font-size: 12px;
    }
    .title {
        font-size: 12px;
    }
    .wake {
        bottom: 20px;
    }
    @media (max-width: 432px) {
        .inner ul{
            font-size: 10px;
        }
        .orgnization{
            font-size: 10px;
        }
        .orgnization-bitly {
            font-size: 10px;
        }
        .title {
            font-size: 10px;
        }
        .logo {
            width: 35px;
            height: 35px;
        }
        .wake {
            bottom: 17px;
        }
        .bit {
            bottom: 17px;
        }
        @media (max-width: 360px) {
            .wake {
                bottom: 30px;
            }
        }
    }

}