body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #923cb5;
    background-image: linear-gradient(180deg, #923cb5 50%, #70b4db 90%);
}
ul {
    font-size: 13px;
}


/* Navigation */

.nav {
    background-color: #fff1e6;
    z-index: 1;
    position: fixed;
    display: block;
    width: 100%;
}
.nav a:hover{
    color: #34a0a4;
}

.nav h3 {
    padding-top: 8px;
    padding-bottom: 6px;
    text-align: center;
    margin: 0;
    width: 100%;
}

.nav ul {
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff1e6;
    font-size: 15px;
}

.nav ul li {
    list-style: none;
    float: left;
    padding-bottom: 5px;
    width: 33.33333333%
}

.nav a {
    text-decoration: none;
    color: #3d405b;
}

a.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}


/* About */

.header {
}

.about-container {
    overflow: hidden;
    padding-top: 130px;
    padding-bottom: 100px; 
    position: relative;
    background-color: #923cb5;
    background-image: linear-gradient(180deg, #7d39eb 1%, #923cb5 100%);
}

.screen-container {

}
.screen {
    font-family: 'VT323', monospace;
    width: 35vw;
    margin-left: 25%;
    margin-right: 25%;
    min-width: 350px;
    max-width: 700px;
    color: white;
    background-color: rgb(0, 0, 0, .9);
    font-size: 20px;
    border-radius: 5px;
    padding-bottom: 10px;
    height: 500px;
}

.about-container i {
    margin: 0 0 0 45px;
}

.about-container p {
    margin-bottom: 2px;
    margin-left: 20px;
}

.heading-container {
    display: flex;
    height: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #404142;
}

.heading-container div {
    margin: 3px 3px 3px 5px;
    border-radius: 50%;
    width: 15px;
    text-align: center;
}

.one {
    background-image: url(images/x.png);
    background-size: cover;
}

.two {
    background-image: url(images/minimize.png);
    background-size: cover;
}

.three {
    background-image: url(images/expand.png);
    background-size: cover;
}


/* Container */

.outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner {
    display: inline-block;
    background-color: #d8e2dc;
    padding: 2%;
    width: 40vw;
    /* min-width: 200px; */
}

.inner h4 {
    text-align: center;
    margin-top: 0;
}

/* #resume>div:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 15px;
    padding-bottom: 0;
} */

.resume {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 15px;
    padding-bottom: 0;
}


/* #projects > div:first-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
} */

.projects {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
}

.experience {
    margin-top: 30px;
    font-size: 15px;
}


/* School & Work Info Positioning */

.r-info {
    position: relative;
    font-size: 14px;
    margin-top: 25px;
}

.r-info span {
    float: right;
}

.orgnization {
    margin-left: 40px;
    margin-bottom: 5px;
    font-size: 15px;
}

.orgnization-bitly {
    margin-left: 45px;
    margin-bottom: 5px;
}

.logo {
    position: absolute;
    bottom: 22px;
}

.title {
    margin-top: 0;
}

.coursework {
    font-size: 14px;
    margin-bottom: 5px;
}

.inner ul {
    margin-top: 0;
    list-style: circle;
}


/* Projects  */

#projects {
    margin-bottom: 30px;
    font-size: small;
    padding-top: 0;
}

.box p {
    background-color: #e8e8e4;
    border-radius: 5px;
    margin-top: 3px;
    padding: 7px;
}

.row {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    width: 30%;
    margin: 20px;
    margin: 20px 30px 20px 30px;
    background-color: #fff1e6;
    padding: 1%;
    border-radius: 5px;
    align-items: center;
    font-size: 12px;
    min-width: 175px;
}

.box .img {
    background-color: transparent;
    width: 100%;
    min-height: 100px;
    height: 7vw;
    border-radius: 5%;
    background-size: cover;
}

.cat {
    background-image: url("images/cat.png");
}

.dog {
    background-image: url("images/dog1.png");
}

.house {
    background-image: url("images/house1.png");
}

.file {
    background-image: url("images/resume.png");
}


/* Footer  */

.footer {
    position: fixed;
    margin-bottom: 0;
    margin-top: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: #fff1e6;
    color: #3d405b;
}

.footer>p {
    font-size: small;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

footer>p span {
    margin-left: 20px;
}

.link {
    margin-right: 20px;
    float: right;
}

.link a {
    color: #3d405b;
    text-decoration: none;
}
.link a:hover {
    color: #34a0a4;
}

/* font sizing  */

.education {
    font-size: 15px;
}

.experience {
    font-size: 15px;
}


/* .inner p:first-child {
    font-size: 15px;
} */

/* @media screen and (max-width: 1200px) and (min-width: 0px) {
    body {
        background-color: #d8e2dc;
    }
} */